name: stable

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest

    env:
      BUNDLE_WITHOUT: "benchmark"
      JRUBY_OPTS: "--debug"
    strategy:
      fail-fast: false

      matrix:
        ruby-version:
          - '2.5'
          - '2.6'
          - '2.7'
          - '3.0'
          - '3.1'
          - '3.2'
          - '3.3'
          - jruby-9.4
          - truffleruby

    steps:
      - uses: actions/checkout@v4

      - run: rm Gemfile.lock && rm test_projects/rails/rspec_rails/Gemfile.lock

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          rubygems: ${{ (matrix.ruby_version < '2.6' && '3.3.26') || 'default' }}
          bundler-cache: true

      - name: Run Rubocop
        run: bundle exec rake rubocop
        # code style is enough to check once (and might even take some time on JRuby)
        if: matrix.ruby-version == '3.3'

      - name: Run tests
        run: bundle exec rake test
        if: matrix.ruby-version != 'truffleruby'

      # Run only `rake spec` on truffleruby, because just `rake` runs cucumber
      # which fails because it uses an old childprocess which depends on fork.
      - name: Run specs (truffleruby)
        run: bundle exec rake spec
        if: matrix.ruby-version == 'truffleruby'
